@charset "UTF-8";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Sriracha', cursive;
  font-size: 0.9rem;
  background: #372d53;
}

header {
  max-width: 1000px;
  margin: auto;
  background: #473b6b;
  padding-top: 2rem;
  overflow: auto;
  letter-spacing: 0.1rem;
  border-radius: 1rem;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

header > h4 {
  text-align: center;
  color: #fea182;
  font-family: 'Press Start 2P', cursive;
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

header > p {
  text-align: center;
  margin-bottom: 1.5rem;
  color: #0bfee0;
}

header > section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 2rem;
  color: #0bfee0;
}

header > section > article {
  width: 45%;
  margin: 0 0.5rem;
  padding: 0.5rem;
  border-radius: 1rem;
  background: #655c8b;
}

main {
  max-width: 1000px;
  margin: auto;
  background: #473b6b;
  color: #ccccc6;
  padding: 1rem 0;
  letter-spacing: 0.1rem;
  border-radius: 1rem;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.signup-sheet {
  margin: auto;
  overflow-x: auto;
  width: calc(1000px - 2rem);
}

.verification {
  display: flex;
  justify-content: center;
  margin: auto;
  margin-bottom: 1rem;
}

input[type="submit" i] {
  padding: 0.125rem 0.5rem;
  margin: 0.25rem;
  background: #03cbca;
  color: #473b6b;
  border: none;
  border-radius: 0.5rem;
  text-align: center;
  font-family: 'Sriracha', cursive;
  cursor: pointer;
}

input[type="submit" i]:hover {
  background: #0bfee0;
  color: #655c8b;
}

.row {
  height: 30px;
  margin: 0.25rem;
  display: flex;
  justify-content: flex-start;
}

.column-title {
  display: inline-block;
  width: 150px;
  height: 30px;
  padding: 0 0.5rem;
  margin-right: 0.25rem;
  overflow: auto;
  background: #ccccc6;
  color: #655c8b;
  line-height: 2;
  text-align: center;
}

.column {
  display: inline-block;
  width: 150px;
  height: 30px;
  padding: 0 0.5rem;
  margin-right: 0.25rem;
  overflow: auto;
  background: #726a99;
  line-height: 2;
}

.update-btn {
  display: inline-block;
  padding: 0 0.5rem;
  height: 25px;
  margin: auto 0.375rem;
  background: #fea182;
  text-decoration: none;
  color: #473b6b;
  border-radius: 0.5rem;
  text-align: center;
}

.update-btn:hover {
  background: #fecf87;
  color: #fd5d77;
}

.delete-btn {
  display: inline-block;
  padding: 0 0.5rem;
  height: 25px;
  margin: auto 0.375rem;
  background: #fd5d77;
  text-decoration: none;
  color: #473b6b;
  border-radius: 0.5rem;
  text-align: center;
}

.delete-btn:hover {
  background: #fe207b;
  color: #fecf87;
}

.form {
  margin: auto;
  text-align: center;
  justify-content: center;
  color: #ccccc6;
  margin-bottom: 2rem;
}

input[type="text" i] {
  margin: 0.5rem;
}

footer {
  padding-top: 30px;
  color: #ccccc6;
  text-align: center;
}

@media screen and (max-width: 1000px) {
  header {
    border-radius: 0;
  }
  
  header > section {
    display: block;
  }
  
  header > section > article {
    width: auto;
    margin: 0.5rem;
  }
  
  main {
    border-radius: 0;
  }
  
  .signup-sheet {
    width: 95%;
  }
  
  .table {
    width: calc(1000px - 2rem);
  }
} 